.CodeMirror {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.compiler-container {
    display: flex;
    flex-diretion: row;
    justify-content: space-between;
}

#editor-1-container,
#editor-2-container {
    width: 40%;
    height: 65vh;
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
}

#editor-1-container {
}

#editor-1,
#editor-2 {
    overflow-wrap: break-word;
    height: 100%;
    width: 100%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: 0.2s all;
}

#editor-1:hover {
   /*transform: scale(1.04);*/
}

#editor-2 {
}

#editor-2:focus {
    background: red !important;
}

#upload-form-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}

label {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #cacaca;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    background: #f8f9fa;
    transition: 0.2s all;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#submit-action {
    margin-top: 1em;
    padding: 5px;
    border: 1px solid #cacaca;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    background: #f8f9fa;
    transition: 0.2s all;
}

label:hover,
#submit-action:hover {
    transform: translateY(-3px);
}

label:active,
#submit-action:active {
    transform: translateY(0);
}

.uploadButton {
    width: max-content;
    margin: 1em auto;
    padding: 5px 10px;
    border: 1px solid green;
    border-radius: 5px;
    color: green;
    background: white;
    transition: 0.2s all;
}

.uploadButton:hover {
    background: #d6f9d6c7;
}

.uploadButton:active {
    transform: translateY(10px);
}

#action-select {
    width: 8%;
    margin: auto 0;
}
