.CodeMirror {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.compiler-container {
    display: flex;
    flex-diretion: row;
    justify-content: space-between;
}

#editor-1,
#editor-2 {
    overflow-wrap: break-word;
    margin-top: 2em;
    height: 80vh;
    width: 40%;
    margin-left: 3em;
    margin-right: 3em;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.2s all;
}

#editor-1:hover {
    transform: scale(1.04);
}

#editor-1:focus {
    transform: scale(0) !important;
}

#editor-2 {
}

#editor-2:focus {
    background: red !important;
}

#upload-form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}

label {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #cacaca;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    background: #f8f9fa;
    transition: 0.4s all;
}

label:hover {
    transform: translateY(-3px);
}

label:active {
    transform: translateY(0);
}

.uploadButton {
    width: max-content;
    margin: 1em auto;
    padding: 5px 10px;
    border: 1px solid green;
    border-radius: 5px;
    color: green;
    background: white;
    transition: 0.3s all;
}

.uploadButton:hover {
    background: #d6f9d6c7;
}

.uploadButton:active {
    transform: translateY(10px);
}
